@{
    ViewData["Title"] = "Home Page";
}
<div class="card-px text-center py-20 my-10">
	<!--begin::Title-->
	<h2 class="fs-2x fw-bold mb-10">خوش آمدید...</h2>
	<!--end::Title-->
	<!--begin::توضیحات-->
	<p class="text-gray-400 fs-4 fw-semibold mb-10">
		برای این پروژه هیچ پایگاه داده، اطلاعات، فایل و یا داده ای ثبت نشده است.
	</p>
	<!--end::توضیحات-->
	<!--begin::Illustration-->
	<div class="text-center px-4">
		<img class="mw-100 mh-300px" alt="" src="~/AdminTheme/assets//media/illustrations/sketchy-1/2.png">
	</div>
	<!--end::Illustration-->
</div>
